<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cars</title>
</head>
<body>
    <table >
        <tr>
            <th>model</th>
            <th>series</th>
            <th>color</th>
        </tr>
        <tr th:each="list : ${list}">
            <td th:text="${list.model}">model</td>
            <td th:text="${list.series}">series</td>
            <td th:text="${list.color}">color</td>
        </tr>
    </table>
</body>
</html>